/* Header Styles */
.header {
  background-color: #6140ffa6;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3a3a3a;
  /* position: sticky; */
  top: 0;
  z-index: 100;
}

.headerLogo {
  margin: 10px;
  width: 100%;
  height: 10vh;
}

.headerLeft .logo svg {
  background-color: #6366f1;
  padding: 0.5rem;
  border-radius: 8px;
}

.headerCenter {
  display: flex;
  gap: 1rem;
  flex: 1;
  max-width: 600px;
  margin: 0 2rem;
}

.searchBar {
  display: flex;
  align-items: center;
  /* background-color: #1a1a1a; */
  border-radius: 8px;
  padding: 0.75rem 1rem;
  flex: 1;
  gap: 0.75rem;
  border:2px solid rgba(255, 255, 255, 0.697);
}

.searchBar input {
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 0.95rem;
  width: 100%;
}

.searchBar input::placeholder {
  color: #888;
}

.filterBtn {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  display:none;
}

.filterBtn:hover {
  background-color: #4a4a4a;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.notification {
  position: relative;
  cursor: pointer;
}

.notificationBadge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ef4444;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: linear-gradient(135deg, #6366f1, #a855f7);
}

@media (max-width: 1200px) {
  .headerLeft {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .header {
    gap: 1rem;
    padding: 0rem 1rem;
  }
  .filterBtn{
    display: inline-block;
  }
  
  .headerLeft {
    width: 30%;
  }

  .headerCenter {
    width: 50%;
    margin: 0;
  }

  .userInfo {
    display: none;
  }
  
  .notification {
    display: none;
  }
}
